[submodule "minecraft-data"]
    path = "rustic_types/minecraft-data"
    url = https://github.com/PrismarineJS/minecraft-data
[submodule "rustic_types/minecraft-data"]
	path = rustic_types/minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
